@use './_typography&variables.scss' as *;
    

// main body stylings
.intro {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
    text-align: left;
    height: 20%;

}

.skills {
    
    padding: 8px;
    text-align: center;
    height: 15%;

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5px;
        margin: 3px;
        font-family: $font-body;
        font-size: smaller;

        .pic {
            max-width: 100%;
            height: auto;
            
        }

    }
}


.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 2fr;
    text-align: justify;
    height: 30%;

    
    h1 { grid-column: 1/4;
        margin: 5px;
        padding: 7px;
        text-align: center;
        
    }

}

#me {
    background-color: $color-background;
    height: 10%;
    margin-left: 7px;

    &__blurb {
        background-color: $color-background;
        color: $color-font;
    }

}
    
    
    
.interests {
    width: 100%;
    
    font-family: $font-title;
    color: $color-font;
    background-color: $color-background;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: auto;
    padding: 10px;

        &__list {
            margin: 5px;
            padding: 5px;

        }


        &__heading {
            background-color: $color-background;
            display: flex;
            flex-direction: column;
            color: $color-heading;


            &--items {
                    font-family: $font-body;
                    color: $color-font;
                    background-color: $color-background;

                    margin: 5px;

                    }
        }

        

        .balls {
            display: flex;
            border: 1px solid red;
            align-items:flex-start;
            height: auto;
            justify-content: flex-end;

            &__sport {

                border-radius: 20px;
                border: 1px solid red;

                }

            
        
        }
    
    }


