@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:wght@300&family=Roboto+Slab:wght@700&display=swap");
/* Fonts: ("Oleo Script Swash Caps" - Fancy) - ("Poppins" - Body) - ("Roboto Slab" - Titles) */
/* Heading text colour = dark blue  body text colour = black */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body h1 {
  font-family: "Roboto Slab";
  color: gold;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
  text-decoration-color: skyblue;
  text-transform: capitalize;
}
body p {
  font-family: "Poppins";
  color: midnightblue;
  height: fit-content;
}
body .button__link {
  background-color: teal;
  max-width: 100%;
  height: auto;
  padding: 5px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 7px;
  font-family: "Poppins";
  color: black;
  font-weight: 600;
  border: 1.5px solid black;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 10px;
  text-align: left;
  height: 20%;
}

.skills {
  padding: 8px;
  text-align: center;
  height: 15%;
}
.skills__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
  margin: 3px;
  font-family: "Poppins";
  font-size: smaller;
}
.skills__list .pic {
  max-width: 100%;
  height: auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 2fr;
  text-align: justify;
  height: 30%;
}
.projects h1 {
  grid-column: 1/4;
  margin: 5px;
  padding: 7px;
  text-align: center;
}

#me {
  background-color: #E3F6F5;
  height: 10%;
  margin-left: 7px;
}
#me__blurb {
  background-color: #E3F6F5;
  color: midnightblue;
}

.Interests {
  width: 100%;
  font-family: "Roboto Slab";
  color: midnightblue;
  background-color: #E3F6F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: auto;
  padding: 10px;
}
.Interests__heading {
  background-color: #E3F6F5;
  display: flex;
  flex-direction: column;
  color: gold;
}
.Interests__heading__items {
  font-family: "Poppins";
  color: midnightblue;
  background-color: #E3F6F5;
  margin: 5px;
}
.Interests .balls {
  display: flex;
  border: 1px solid red;
  align-items: flex-start;
  height: auto;
  justify-content: flex-end;
}
.Interests .balls__sport {
  border-radius: 20px;
  border: 1px solid red;
}