@use './_typography&variables.scss' as *;



footer {
    background-color: $color-footer;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    height: 5%;
    margin: 3px;
    padding: 5px;
    

    #email {
        display: flex;
        align-items: center;
        color: $color-heading;
        background-color: $color-footer;
        font-size:large;
        font-family: $font-body;
        
        }

    .icon {
        display: flex;
        justify-content: space-around;
        background-color: $color-footer;
        padding: 7px;
        max-width: 100%;
        height: auto;
        
        }


    }
