@use './_typography&variables.scss' as *;



nav {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    height: 5%;

    #name {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;   
        font-size:larger;
        font-weight: lighter;
        margin: 5px;
        padding: 10px;
        margin-left: 15px;
        font-family: $font-fancy;
        color:$color-heading;
        
    }

    .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    margin: 2px;
    font-family: $font-fancy;
    


        .nav__title {
        margin: 3px;
        padding: 5px;
        font-size: medium;
        font-weight:normal;
        color: $colour-body;
        
        }

    }

}