@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:wght@300&family=Roboto+Slab:wght@700&display=swap");
/* Fonts: ("Oleo Script Swash Caps" - Fancy) - ("Poppins" - Body) - ("Roboto Slab" - Titles) */
/* Heading text colour = dark blue  body text colour = black */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body h1 {
  font-family: "Roboto Slab";
  color: gold;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
  text-decoration-color: skyblue;
  text-transform: capitalize;
}
body p {
  font-family: "Poppins";
  color: midnightblue;
  height: fit-content;
}
body .button__link {
  background-color: teal;
  max-width: 100%;
  height: auto;
  padding: 5px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 7px;
  font-family: "Poppins";
  color: black;
  font-weight: 600;
  border: 1.5px solid black;
}

a:link {
  text-decoration: none;
}

.projects__card--image:hover {
  opacity: 1;
}

.interests__list--items:hover {
  color: sandybrown;
  font-size: xx-large;
  font-weight: bold;
}

.skills__list--pic:hover {
  color: "Roboto Slab";
  transform: scale(130%);
}

.button__link:hover {
  background-color: #E3F6F5;
  transform: scale(115%);
}