@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:wght@300&family=Roboto+Slab:wght@700&display=swap");
/* Fonts: ("Oleo Script Swash Caps" - Fancy) - ("Poppins" - Body) - ("Roboto Slab" - Titles) */
/* Heading text colour = dark blue  body text colour = black */
* {
  margin: 0;
  padding: 0;
  background-color: white;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: small;
  margin: 5px;
  padding: 10px;
  margin-left: 15px;
  border: 2px solid red;
  font-family: "Oleo Script Swash Caps";
  color: skyblue;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px;
  margin: 2px;
  border: 2px solid red;
}

.nav-title {
  margin: 3px;
  padding: 2px;
  font-family: "Oleo Script Swash Caps";
  font-size: medium;
  font-weight: normal;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px;
  text-align: left;
  border: 2px solid red;
}

.skills {
  padding: 8px;
  text-align: center;
  border: 2px solid red;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
  margin: 3px;
  font-family: "Poppins";
  font-size: smaller;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 2fr;
  text-align: justify;
  border: 2px solid red;
}
.projects h1 {
  grid-column: 1/4;
  margin: 5px;
  padding: 7px;
  text-align: center;
}

#about {
  background-color: black;
}

.me {
  background-color: black;
  border: 2px solid red;
}

p {
  font-family: "Poppins";
  color: black;
}

h1 {
  font-family: "Roboto Slab";
  color: skyblue;
  text-decoration: underline gold 2px;
  text-transform: capitalize;
}