@use './_nav&top-bar-elements.scss' as *;
@use './_typography&variables.scss' as *;
@use "./body-section" as *;
@use "./footer" as *;
@use "./pseudo-styles" as *;


    
        
    // text-decoration-line: underline;
    // text-decoration-style: wavy;
    // text-decoration-color: $color-tertiary;
    // text-decoration-thickness: 35px;


    // @use "folder/file_name" as *


@media screen and (max-width: 960px) {
    .welcome {
        flex-wrap: wrap;

    }
    
}


@media screen and (max-width: 768px) {
    .welcome__connel--pic {
        display: none;
    }

    .interests__game--pic {
        display: none;
    }

}